header{
    background-color: #23d81de1;
    border: 8px solid #000000;
    padding: 20 px;
    text-align: center;
}

nav{
    background-color: #e2df0bf0;
    padding: 5px 15px;
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 1px;
    font: bold 14px verdana, sans-serif;
    text-align: center;
    
}

body{
    text-align: center;
    background-color: #c0c408;
}

section{
    float: left;
    width: 70%;
    margin: 20px;
    text-align: justify;
}
aside{
    float: right;
    width: 23%;
    margin: 20px 0px;
    padding: 20px;
    background: #4bee00;
    border: 1px solid #ffffff;
    text-align: justify;
}

article{
    background: #8ed805;
    border: 1px solid #faf9f9;
    padding: 20px;
    margin-bottom: 15px;
}

footer{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #f0eeee;
}

article img{
    float: right;
    margin: 0px 10px
}