body{
    background-color: rgb(245, 16, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    text-align: justify;
}
img{
    margin-left: 10px;
}
.recuadro{
    background-color: blueviolet;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    border-width: 0;
    padding: 5px;
    border: 1px dotted #ffaa00;
    margin-left: 5px;
}